In [14]:
library(ggplot2)
library(microbiome)
library(phyloseq)
library("tidyverse")
library("dplyr")
library("randomForestSRC")
library("ggpmisc")
library(patchwork)
library("speedyseq")
library(microViz)

In [2]:
packageVersion('randomForestSRC')

[1] ‘3.2.2’

In [3]:
load("/Users/stephanie.rosales/Documents/omics_projects/POR_16S/CoralPersistence/data/POR_counts_4_analysis.RData")
load("/Users/stephanie.rosales/Documents/omics_projects/POR_16S/CoralPersistence/data/POR_taxo_4_analysis.RData")

In [4]:
taxo_mat <- POR_taxo_4_analysis %>%
  rownames_to_column %>%
  filter(rowname != 'ASV_2') %>%
column_to_rownames("rowname")  %>%
mutate(family = ifelse(row.names(.) == "ASV_94", "ASV_94:Bacteroidia", family)) %>%
#mutate(family = ifelse(row.names(.) == "ASV_68", "ASV_68", family)) %>%
  mutate(domain = ifelse(row.names(.) == "ASV_5", "ASV_5:core", domain)) %>%
  mutate(phylum = ifelse(row.names(.) == "ASV_5", "ASV_5:core", phylum)) %>%
  mutate(class = ifelse(row.names(.) == "ASV_5", "ASV_5:core", class)) %>%
   mutate(order = ifelse(row.names(.) == "ASV_5", "ASV_5:core", order)) %>%
  mutate(family = ifelse(row.names(.) == "ASV_5", "ASV_5:core", family)) %>%
mutate(genus = ifelse(row.names(.) == "ASV_5", "ASV_5:core", genus)) %>%
mutate(species = ifelse(row.names(.) == "ASV_5", "ASV_5:core", species)) %>%
 mutate(domain = ifelse(row.names(.) == "ASV_6", "ASV_6:core", domain)) %>%
  mutate(phylum = ifelse(row.names(.) == "ASV_6", "ASV_6:core", phylum)) %>%
  mutate(class = ifelse(row.names(.) == "ASV_6", "ASV_6:core", class)) %>%
   mutate(order = ifelse(row.names(.) == "ASV_6", "ASV_6:core", order)) %>%
  mutate(family = ifelse(row.names(.) == "ASV_6", "ASV_6:core", family)) %>%
mutate(genus = ifelse(row.names(.) == "ASV_6", "ASV_6:core", genus)) %>%
mutate(species = ifelse(row.names(.) == "ASV_6", "ASV_6:core", species)) %>%
mutate(class = ifelse(row.names(.) == "ASV_7", "SAR324:core", class)) %>%
   mutate(order = ifelse(row.names(.) == "ASV_7", "SAR324:core", order)) %>%
  mutate(family = ifelse(row.names(.) == "ASV_7", "SAR324:core", family)) %>%
mutate(genus = ifelse(row.names(.) == "ASV_7", "SAR324:core", genus)) %>%
mutate(species = ifelse(row.names(.) == "ASV_7", "SAR324:core", species)) %>%
mutate(genus = ifelse(row.names(.) == "ASV_23", "Cyanobiaceae:core", genus)) %>%
mutate(species = ifelse(row.names(.) == "ASV_23", "Cyanobiaceae:core", species))

In [5]:
meta = read.csv ("/Users/stephanie.rosales/Documents/omics_projects/POR_16S/CoralPersistence/metadata/POR_combo_meta.csv",
row.names=1, header = T)%>%
  mutate(
    Month = factor(Month, levels = month.name)
  ) %>%
  arrange(Month) %>%
arrange(collection_date)

ASV <- otu_table(as.matrix(POR_counts_4_analysis), 
                 taxa_are_rows = T)
TAX <- tax_table(as.matrix(taxo_mat))
SAMP <- sample_data(meta)

ps <- phyloseq(ASV, TAX, SAMP)
ps

phyloseq-class experiment-level object
otu_table()   OTU Table:          [ 27533 taxa and 363 samples ]:
sample_data() Sample Data:        [ 363 samples by 58 sample variables ]:
tax_table()   Taxonomy Table:     [ 27533 taxa by 7 taxonomic ranks ]:
taxa are rows

In [6]:
euk_asvs <- c("ASV_10673","ASV_10883",	"ASV_11806","ASV_12333",	"ASV_12335",	"ASV_13587",	"ASV_14757",	"ASV_15238",	"ASV_15259",	"ASV_16364",	"ASV_16936",	"ASV_17406",	"ASV_18096",	"ASV_18375",	"ASV_18682",	"ASV_19529",	"ASV_19795",	"ASV_19953",	"ASV_2",	"ASV_20640",	"ASV_2100",	"ASV_22284",	"ASV_22692",	"ASV_23038",	"ASV_23144",	"ASV_24135",	"ASV_24243",	"ASV_27014",	"ASV_29665",	"ASV_30547",	"ASV_30626",	"ASV_30884",	"ASV_4161",	"ASV_4498",	"ASV_476",	"ASV_4797",	"ASV_4966",	"ASV_5018",	"ASV_5118",	"ASV_5154",	"ASV_6282",	"ASV_653",	"ASV_6843",	"ASV_7264",	"ASV_7427",	"ASV_8",	"ASV_9248",	"ASV_9692")
allTaxa = taxa_names(ps)
allTaxa <- allTaxa[!(allTaxa %in% euk_asvs)]
ps_fill_euk = prune_taxa(allTaxa, ps)
# new phyloseq object with just the taxa you kept.
ps_fill_euk

phyloseq-class experiment-level object
otu_table()   OTU Table:          [ 27486 taxa and 363 samples ]:
sample_data() Sample Data:        [ 363 samples by 58 sample variables ]:
tax_table()   Taxonomy Table:     [ 27486 taxa by 7 taxonomic ranks ]:
taxa are rows

In [7]:
ps_merge = merge_samples2(ps_fill_euk, "geno_clus")
ps_merge

phyloseq-class experiment-level object
otu_table()   OTU Table:          [ 27486 taxa and 125 samples ]:
sample_data() Sample Data:        [ 125 samples by 58 sample variables ]:
tax_table()   Taxonomy Table:     [ 27486 taxa by 7 taxonomic ranks ]:
taxa are rows

In [8]:
ps_fill = filter_taxa(ps_merge, function(x) sum(x > 5) > (0.1*length(x)), TRUE)  %>% tax_fix()
ps_fill 
ps_fill

Row named: ASV_10
contains no non-unknown values, returning:
'ASV_10' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_13
contains no non-unknown values, returning:
'ASV_13' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_21
contains no non-unknown values, returning:
'ASV_21' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_25
contains no non-unknown values, returning:
'ASV_25' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_68
contains no non-unknown values, returning:
'ASV_68' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_81
contains no non-unknown values, returning:
'ASV_81' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_88
contains no non-unknown values, returning:
'ASV_88' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_110
contains no non-unknown values, returning:
'ASV_110' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_124
contains no non-unknown values, returning:
'ASV_124' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_127
contains no non-unknown values, returning:
'ASV_127' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_150
contains no non-unknown values, returning:
'ASV_150' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_164
contains no non-unknown values, returning:
'ASV_164' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_194
contains no non-unknown values, returning:
'ASV_194' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_259
contains no non-unknown values, returning:
'ASV_259' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_264
contains no non-unknown values, returning:
'ASV_264' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_289
contains no non-unknown values, returning:
'ASV_289' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_310
contains no non-unknown values, returning:
'ASV_310' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_370
contains no non-unknown values, returning:
'ASV_370' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_398
contains no non-unknown values, returning:
'ASV_398' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_427
contains no non-unknown values, returning:
'ASV_427' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_473
contains no non-unknown values, returning:
'ASV_473' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_481
contains no non-unknown values, returning:
'ASV_481' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_513
contains no non-unknown values, returning:
'ASV_513' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_527
contains no non-unknown values, returning:
'ASV_527' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_532
contains no non-unknown values, returning:
'ASV_532' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_544
contains no non-unknown values, returning:
'ASV_544' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_598
contains no non-unknown values, returning:
'ASV_598' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_602
contains no non-unknown values, returning:
'ASV_602' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_624
contains no non-unknown values, returning:
'ASV_624' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_628
contains no non-unknown values, returning:
'ASV_628' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_629
contains no non-unknown values, returning:
'ASV_629' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_682
contains no non-unknown values, returning:
'ASV_682' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_693
contains no non-unknown values, returning:
'ASV_693' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_744
contains no non-unknown values, returning:
'ASV_744' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_760
contains no non-unknown values, returning:
'ASV_760' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_793
contains no non-unknown values, returning:
'ASV_793' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_810
contains no non-unknown values, returning:
'ASV_810' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_891
contains no non-unknown values, returning:
'ASV_891' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_911
contains no non-unknown values, returning:
'ASV_911' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_918
contains no non-unknown values, returning:
'ASV_918' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_970
contains no non-unknown values, returning:
'ASV_970' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_979
contains no non-unknown values, returning:
'ASV_979' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1045
contains no non-unknown values, returning:
'ASV_1045' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1051
contains no non-unknown values, returning:
'ASV_1051' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1080
contains no non-unknown values, returning:
'ASV_1080' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1149
contains no non-unknown values, returning:
'ASV_1149' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1177
contains no non-unknown values, returning:
'ASV_1177' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1255
contains no non-unknown values, returning:
'ASV_1255' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1292
contains no non-unknown values, returning:
'ASV_1292' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1423
contains no non-unknown values, returning:
'ASV_1423' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1430
contains no non-unknown values, returning:
'ASV_1430' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1457
contains no non-unknown values, returning:
'ASV_1457' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1574
contains no non-unknown values, returning:
'ASV_1574' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1641
contains no non-unknown values, returning:
'ASV_1641' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1659
contains no non-unknown values, returning:
'ASV_1659' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1696
contains no non-unknown values, returning:
'ASV_1696' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1764
contains no non-unknown values, returning:
'ASV_1764' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1792
contains no non-unknown values, returning:
'ASV_1792' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1809
contains no non-unknown values, returning:
'ASV_1809' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1872
contains no non-unknown values, returning:
'ASV_1872' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_1885
contains no non-unknown values, returning:
'ASV_1885' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_2034
contains no non-unknown values, returning:
'ASV_2034' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_2043
contains no non-unknown values, returning:
'ASV_2043' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_2151
contains no non-unknown values, returning:
'ASV_2151' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_2200
contains no non-unknown values, returning:
'ASV_2200' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_2225
contains no non-unknown values, returning:
'ASV_2225' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_2283
contains no non-unknown values, returning:
'ASV_2283' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_2548
contains no non-unknown values, returning:
'ASV_2548' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_2682
contains no non-unknown values, returning:
'ASV_2682' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_2842
contains no non-unknown values, returning:
'ASV_2842' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_4224
contains no non-unknown values, returning:
'ASV_4224' for all replaced levels.
Consider editing this tax_table entry manually.

Row named: ASV_5161
contains no non-unknown values, returning:
'ASV_5161' for all replaced levels.
Consider editing this tax_table entry manually.

phyloseq-class experiment-level object
otu_table()   OTU Table:          [ 1166 taxa and 125 samples ]:
sample_data() Sample Data:        [ 125 samples by 58 sample variables ]:
tax_table()   Taxonomy Table:     [ 1166 taxa by 7 taxonomic ranks ]:
taxa are rows

phyloseq-class experiment-level object
otu_table()   OTU Table:          [ 1166 taxa and 125 samples ]:
sample_data() Sample Data:        [ 125 samples by 58 sample variables ]:
tax_table()   Taxonomy Table:     [ 1166 taxa by 7 taxonomic ranks ]:
taxa are rows

In [9]:
#set seed
set.seed(2)

In [10]:
predictors <- t(otu_table(ps_fill))

# Make one column for response variable 
response <- as.factor(sample_data(ps_fill)$Samp_trip)

# Combine them into data frame
rf.data <- data.frame(response, predictors)
head(rf.data, n=2)


trip.classify <- rfsrc(response~., data = rf.data, ntree = 400,
                     importance="permute", csv.num=TRUE)
trip.classify

tax_trip=cbind(as.data.frame(trip.classify$importance), as.data.frame(tax_table(ps_fill))) %>%
arrange(-all) #%>%
#head(n=10)

head(tax_trip)

                 response ASV_479 ASV_893 ASV_365 ASV_535 ASV_2096 ASV_772
ML2_78_cf_Trip_3 Trip_3   0        0      31       47     0        0
CN4_35_cf_Trip_3 Trip_3   0       10       0      133     0        9
                 ASV_1957 ASV_1450 ASV_2272 ⋯ ASV_5161 ASV_5172 ASV_5315
ML2_78_cf_Trip_3  0        10      0        ⋯ 0        0        0
CN4_35_cf_Trip_3 22       216      0        ⋯ 4        0        0
                 ASV_5568 ASV_6632 ASV_13462 ASV_13967 ASV_20040 ASV_20192
ML2_78_cf_Trip_3 0        0        0         0         0         0
CN4_35_cf_Trip_3 0        0        0         0         0         0
                 ASV_20228
ML2_78_cf_Trip_3 0
CN4_35_cf_Trip_3 0

                         Sample size: 125
           Frequency of class labels: 34, 33, 28, 30
                     Number of trees: 400
           Forest terminal node size: 1
       Average no. of terminal nodes: 20.2875
No. of variables tried at each split: 35
              Total no. of variables: 1166
       Resampling used to grow trees: swor
    Resample size used to grow trees: 79
                            Analysis: RF-C
                              Family: class
                      Splitting rule: gini *random*
       Number of random split points: 10
                   (OOB) Brier score: 0.08443749
        (OOB) Normalized Brier score: 0.45033328
                           (OOB) AUC: 0.99573625
   (OOB) Requested performance error: 0.024, 0.02941176, 0, 0.03571429, 0.03333333

Confusion matrix:

          predicted
  observed Trip_2 Trip_3 Trip_4 Trip_5 class.error
    Trip_2     33      1      0      0      0.0294
    Trip_3      0     33      0      0      0.0000
    Trip_4      0      0     27      1      0.0357
    Trip_5      0      0      1     29      0.0333

      (OOB) Misclassification rate: 0.024

         all         Trip_2     Trip_3     Trip_4        Trip_5      domain
ASV_865  0.014092489 0.01598989 0.01647444  9.708149e-02 0.031713288 Bacteria
ASV_963  0.011912346 0.03797600 0.01853374 -7.544748e-18 0.070222281 Bacteria
ASV_151  0.011725300 0.00599621 0.02471165  2.184334e-02 0.077017985 Bacteria
ASV_412  0.010674719 0.02198610 0.03294887  4.854075e-03 0.054365637 Bacteria
ASV_1299 0.010271716 0.02198610 0.01029652  2.184334e-02 0.058896106 Bacteria
ASV_1069 0.009468163 0.01798863 0.05148261  2.184334e-02 0.009060939 Bacteria
         phylum                        class
ASV_865  Proteobacteria                Gammaproteobacteria
ASV_963  Dadabacteria                  Dadabacteriia
ASV_151  Proteobacteria                Gammaproteobacteria
ASV_412  Bacteroidota                  Bacteroidia
ASV_1299 Marinimicrobia (SAR406 clade) Marinimicrobia (SAR406 clade) phylum
ASV_1069 Proteobacteria                Alphaproteobacteria
         order
ASV_865  Alteromonadales
ASV_963  Dadabacteriales
ASV_151  Pseudomonadales
ASV_412  Flavobacteriales
ASV_1299 Marinimicrobia (SAR406 clade) phylum
ASV_1069 SAR11 clade
         family
ASV_865  Colwelliaceae
ASV_963  Dadabacteriales order
ASV_151  Pseudomonadaceae
ASV_412  Flavobacteriaceae
ASV_1299 Marinimicrobia (SAR406 clade) phylum
ASV_1069 Clade III
         genus
ASV_865  Thalassotalea
ASV_963  Dadabacteriales order
ASV_151  Pseudomonas
ASV_412  NS4 marine group
ASV_1299 Marinimicrobia (SAR406 clade) phylum
ASV_1069 Clade III family
         species
ASV_865  Thalassotalea genus
ASV_963  Dadabacteriales order
ASV_151  Pseudomonas genus
ASV_412  NS4 marine group genus
ASV_1299 Marinimicrobia (SAR406 clade) phylum
ASV_1069 Clade III family

In [11]:
##Combine top important ASVs from each sampling trip

# Create a list to store the results
result_list <- list()

# Define the column names for sorting
sort_columns <- c("Trip_2", "Trip_3", "Trip_4", "Trip_5")

# Loop through the sorting columns
for (col in sort_columns) {
  result <- cbind(as.data.frame(trip.classify$importance), as.data.frame(tax_table(ps_fill))) %>%
    arrange(desc(get(col))) %>%
    head() %>%
    distinct()  # Remove duplicate rows
    
  # Assign the result to the list
  result_list[[paste0(col, "_5")]] <- result
}

# Combine the results into a single data frame
rf_trip_df <- do.call(rbind, result_list)


#write.csv(rf_trip_df, "/Users/stephanie.rosales/Documents/omics_projects/POR_16S/CoralPersistence/metadata/rf_trip_df.csv")

In [12]:
predictors <- t(otu_table(ps_fill))
dim(predictors)
# Make one column for our outcome/response variable 

response <- as.factor(sample_data(ps_fill)$reef)

# Combine them into 1 data frame
rf.data <- data.frame(response, predictors)
head(rf.data, n=2)


reef.classify <- rfsrc(response~., data = rf.data, ntree = 400,
                     importance="permute", csv.num=TRUE)
reef.classify

tax_reef= cbind(as.data.frame(reef.classify$importance), as.data.frame(tax_table(ps_fill))) %>%
arrange(-all) #%>%
#head()

tax_reef %>%
arrange(-ndr) %>%
head()

[1]  125 1166

                 response ASV_479 ASV_893 ASV_365 ASV_535 ASV_2096 ASV_772
ML2_78_cf_Trip_3 cf       0        0      31       47     0        0
CN4_35_cf_Trip_3 cf       0       10       0      133     0        9
                 ASV_1957 ASV_1450 ASV_2272 ⋯ ASV_5161 ASV_5172 ASV_5315
ML2_78_cf_Trip_3  0        10      0        ⋯ 0        0        0
CN4_35_cf_Trip_3 22       216      0        ⋯ 4        0        0
                 ASV_5568 ASV_6632 ASV_13462 ASV_13967 ASV_20040 ASV_20192
ML2_78_cf_Trip_3 0        0        0         0         0         0
CN4_35_cf_Trip_3 0        0        0         0         0         0
                 ASV_20228
ML2_78_cf_Trip_3 0
CN4_35_cf_Trip_3 0

                         Sample size: 125
           Frequency of class labels: 31, 47, 47
                     Number of trees: 400
           Forest terminal node size: 1
       Average no. of terminal nodes: 19.665
No. of variables tried at each split: 35
              Total no. of variables: 1166
       Resampling used to grow trees: swor
    Resample size used to grow trees: 79
                            Analysis: RF-C
                              Family: class
                      Splitting rule: gini *random*
       Number of random split points: 10
                   (OOB) Brier score: 0.14105482
        (OOB) Normalized Brier score: 0.63474669
                           (OOB) AUC: 0.88550626
   (OOB) Requested performance error: 0.288, 0.77419355, 0.12765957, 0.12765957

Confusion matrix:

          predicted
  observed cf ndr pr class.error
       cf   7  13 11      0.7742
       ndr  4  41  2      0.1277
       pr   2   4 41      0.1277

      (OOB) Misclassification rate: 0.288

        all         cf           ndr        pr           domain
ASV_109 0.010093047  0.015345139 0.04337684  0.018796630 Bacteria
ASV_273 0.007253705 -0.008768651 0.03180968  0.026026103 Bacteria
ASV_252 0.006487859  0.010960814 0.03036379  0.008675368 Bacteria
ASV_443 0.005043731 -0.010960814 0.02602610  0.017350735 Bacteria
ASV_14  0.004429137  0.015345139 0.02313431 -0.001445895 Bacteria
ASV_46  0.005255499 -0.008768651 0.02313431  0.020242524 Bacteria
        phylum          class               order            family
ASV_109 Proteobacteria  Alphaproteobacteria Rhodobacterales  Rhodobacteraceae
ASV_273 Bacteroidota    Bacteroidia         Flavobacteriales Flavobacteriaceae
ASV_252 Bacteria domain Bacteria domain     Bacteria domain  Bacteria domain
ASV_443 Bacteroidota    Bacteroidia         Flavobacteriales NS9 marine group
ASV_14  Proteobacteria  Gammaproteobacteria Vibrionales      Vibrionaceae
ASV_46  Cyanobacteria   Cyanobacteriia      Synechococcales  Cyanobiaceae
        genus                    species
ASV_109 Rhodobacteraceae family  Rhodobacteraceae family
ASV_273 Flavobacteriaceae family Flavobacteriaceae family
ASV_252 Bacteria domain          Bacteria domain
ASV_443 NS9 marine group family  NS9 marine group family
ASV_14  Vibrionaceae family      Vibrionaceae family
ASV_46  Synechococcus CC9902     Synechococcus CC9902 genus

In [13]:
##Combine top important ASVs from each reef
set.seed(2)
# Create a list to store the results
result_list <- list()

# Define the column names for sorting
sort_columns <- c("pr", "ndr", "cf")

# Loop through the sorting columns
for (col in sort_columns) {
  result <- cbind(as.data.frame(reef.classify$importance), as.data.frame(tax_table(ps_fill))) %>%
    arrange(desc(get(col))) %>%
    head() %>%
    distinct()  # Remove duplicate rows
    
  # Assign the result to the list
  result_list[[paste0(col, "_5")]] <- result
}

# Combine the results into a single data frame
rf_reef_df <- do.call(rbind, result_list)


#write.csv(rf_reef_df, "/Users/stephanie.rosales/Documents/omics_projects/POR_16S/CoralPersistence/metadata/rf_reef_df.csv",
 #        )