In [18]:
library(tidyr)
library(dplyr)

In [19]:

nutri = read.csv("/Users/stephanie.rosales/Documents/omics_projects/POR_16S/CoralPersistence/metadata/POR_meta_nutrients.csv", 
                header = T
)
head(nutri, n=2)
dim(nutri)


sst = read.csv("/Users/stephanie.rosales/Documents/omics_projects/POR_16S/CoralPersistence/metadata/POR_meta_sst_chla.csv", 
                header = T
)
head(sst, n=2)
dim(sst)

tcm = read.csv("/Users/stephanie.rosales/Documents/omics_projects/POR_16S/CoralPersistence/metadata/POR_TCM_combo.csv", 
                header = T
)
head(tcm, n=2)
dim(tcm)


live = read.csv("/Users/stephanie.rosales/Documents/omics_projects/POR_16S/CoralPersistence/metadata/POR_meta_apal_live.csv", 
                header = T
)
head(live, n=2)
dim(live)

  Samp_trip file                     zhang_ID reef collection_date Month
1 1         POR_nutrients_samp_trip1 Zhang-03 cf   26-Nov-18       November
2 2         POR_nutrients_samp_trip2 Zhang-01 cf   28-Feb-19       February
  Year Si.uM. NO2.uM. N.N.uM. ⋯ date_processed STD  Wash watercolumn transect
1 2018 1.153  0.023   0.673   ⋯ 12/20/18       LNSW LNSW bottom      AC12
2 2019 0.335  0.022   0.996   ⋯ 3/7/19         LNSW LNSW bottom      Ap 35
  filtered chloroform dilution_factor latitude longitude
1 yes      yes        NA              NA       NA
2 yes      yes        NA              NA       NA

[1] 80 23

  reef collection_date Year Month    Lat_decimal Long_decimal avgchla_mgm.3
1 pr   14-Nov-18       2018 November 24.985      -80.416      0.9965124
2 gr   15-Nov-18       2018 November 25.110      -80.304      0.7318034
  sdchla_mgm.3 avgSST_degC sdSST_degC
1 0.6535258    27.42548    0.1301989
2 0.4607393    27.50922    0.1089550

[1] 20 10

  collection_date Speed.cm.s. Bearing.degrees. Velocity.N.cm.s.
1 22-Oct-18       36.25       156.41           -33.22
2 22-Oct-18       36.25       156.39           -33.22
  Velocity.E.cm.s. Temperature.C. reef place
1 14.51            23.4131        cf   top
2 14.52            23.2627        cf   top

[1] 730278      8

  reef Genotype Fragment_num collection_date day Month Year Survey.
1 gr   ML2      1            15-Jun-18       15  June  2018 1
2 gr   ML2      1            15-Jun-18       15  June  2018 1
  Fragment_number LiveFrag ColType L W  H  live_per Adjusted.Area S01FragCount
1 A               1        L       7 NA NA 100.00%  27.2065       7
2 B               1        L       8 NA NA 100.00%  23.2441       7

[1] 9013   17

In [20]:
#load("/Users/stephanie.rosales/Documents/omics_projects/POR_16S/CoralPersistence/data/POR_treatment_4_analysis.RData")
 #write.csv(POR_treat_4_analysis, file="/Users/stephanie.rosales/Documents/omics_projects/POR_16S/CoralPersistence/metadata/POR_meta_seq.csv")

In [21]:
#added column header
meta = read.csv("/Users/stephanie.rosales/Documents/omics_projects/POR_16S/CoralPersistence/metadata/POR_meta_seq.csv", 
                header = T
)
head(meta, n=2)
dim(meta)

  sample_ID                           bag_num
1 apal_cf_gML2_cl78_frB_AH_2019-06-25 bagnumber-1009
2 apal_cf_gML2_cl78_fr3_AH_2019-06-25 bagnumber-1010
  sample_ID2                          Fragment_number Health collection_date
1 apal_cf_gML2_cl78_frB_AH_2019-06-25 B               AH     25-Jun-19
2 apal_cf_gML2_cl78_fr3_AH_2019-06-25 3               AH     25-Jun-19
  Month Year Samp_trip joining_info        ⋯ sampling_trip X  colour_reef
1 June  2019 Trip_3    ML2_Cluster_78_B_cf ⋯ 3             NA blue4
2 June  2019 Trip_3    ML2_Cluster_78_3_cf ⋯ 3             NA blue4
  colour_genotype colour_reef_genotype colour_timepoint colour_timepoint_reef
1 orangered       yellow3              maroon2          black
2 orangered       yellow3              maroon2          black
  cluster_latitude cluster_longitude cluster_depth
1 25.2207          -80.21037         20.9
2 25.2207          -80.21037         20.9

[1] 363  26

In [22]:
head(nutri, n=2)
dim(nutri)

  Samp_trip file                     zhang_ID reef collection_date Month
1 1         POR_nutrients_samp_trip1 Zhang-03 cf   26-Nov-18       November
2 2         POR_nutrients_samp_trip2 Zhang-01 cf   28-Feb-19       February
  Year Si.uM. NO2.uM. N.N.uM. ⋯ date_processed STD  Wash watercolumn transect
1 2018 1.153  0.023   0.673   ⋯ 12/20/18       LNSW LNSW bottom      AC12
2 2019 0.335  0.022   0.996   ⋯ 3/7/19         LNSW LNSW bottom      Ap 35
  filtered chloroform dilution_factor latitude longitude
1 yes      yes        NA              NA       NA
2 yes      yes        NA              NA       NA

[1] 80 23

In [23]:
nutri_sum= nutri %>%
filter(chloroform=="yes") %>%
filter(filtered=="yes") %>%
select(-c(STD, Wash, file, zhang_ID, latitude,longitude, NH4.uM.,  dilution_factor, Samp_trip)) %>%
group_by(collection_date, reef) %>%
summarise(across(where(is.numeric), ~ mean(.x, na.rm = TRUE)))  %>%
right_join(meta)

head(nutri_sum, n=2)

`summarise()` has grouped output by 'collection_date'. You can override using
the `.groups` argument.
Joining with `by = join_by(collection_date, reef, Year)`

  collection_date reef Year Si.uM. NO2.uM. N.N.uM. NO3.uM. PO4.uM.
1 1-Mar-19        pr   2019 0.504  0.015   0.729   0.714   0.037
2 1-Mar-19        pr   2019 0.504  0.015   0.729   0.714   0.037
  sample_ID                           bag_num       ⋯ sampling_trip X
1 apal_pr_gCN2_cl75_fr3_AH_2019-03-01 bagnumber-584 ⋯ 2             NA
2 apal_pr_gCN2_cl75_fr4_AH_2019-03-01 bagnumber-585 ⋯ 2             NA
  colour_reef colour_genotype colour_reef_genotype colour_timepoint
1 greenyellow blue4           maroon2              blue4
2 greenyellow blue4           maroon2              blue4
  colour_timepoint_reef cluster_latitude cluster_longitude cluster_depth
1 orangered             24.98454         -80.41658         15.7
2 orangered             24.98454         -80.41658         15.7

In [24]:
sst_sum=nutri_sum %>%
left_join(sst, join_by( collection_date,reef))

head(sst_sum, n=2)
dim(sst_sum)

  collection_date reef Year.x Si.uM. NO2.uM. N.N.uM. NO3.uM. PO4.uM.
1 1-Mar-19        pr   2019   0.504  0.015   0.729   0.714   0.037
2 1-Mar-19        pr   2019   0.504  0.015   0.729   0.714   0.037
  sample_ID                           bag_num       ⋯ cluster_longitude
1 apal_pr_gCN2_cl75_fr3_AH_2019-03-01 bagnumber-584 ⋯ -80.41658
2 apal_pr_gCN2_cl75_fr4_AH_2019-03-01 bagnumber-585 ⋯ -80.41658
  cluster_depth Year.y Month.y Lat_decimal Long_decimal avgchla_mgm.3
1 15.7          2019   March   24.985      -80.416      0.3999531
2 15.7          2019   March   24.985      -80.416      0.3999531
  sdchla_mgm.3 avgSST_degC sdSST_degC
1 0.163012     25.99442    0.2483825
2 0.163012     25.99442    0.2483825

[1] 363  39

In [25]:
live_sum= live %>%
group_by(collection_date, reef, Genotype, Fragment_number, Month, Year) %>%
summarise(across(where(is.numeric), ~ mean(.x, na.rm = TRUE)))  %>%
right_join(sst_sum)
head(live_sum, n=2)

`summarise()` has grouped output by 'collection_date', 'reef', 'Genotype',
'Fragment_number', 'Month'. You can override using the `.groups` argument.
Joining with `by = join_by(collection_date, reef, Genotype, Fragment_number)`

  collection_date reef Genotype Fragment_number Month Year Fragment_num day
1 1-Mar-19        pr   CN2      3               March 2019 78.33333     1
2 1-Mar-19        pr   CN2      3               March 2019 78.33333     1
  Survey. LiveFrag ⋯ cluster_longitude cluster_depth Year.y Month.y Lat_decimal
1 5       1        ⋯ -80.41658         15.7          2019   March   24.985
2 5       1        ⋯ -80.41659         16.7          2019   March   24.985
  Long_decimal avgchla_mgm.3 sdchla_mgm.3 avgSST_degC sdSST_degC
1 -80.416      0.3999531     0.163012     25.99442    0.2483825
2 -80.416      0.3999531     0.163012     25.99442    0.2483825

In [26]:
tcm_sum= tcm %>%
filter(Speed.cm.s. <=25) %>%
group_by(collection_date) %>%
summarise(across(where(is.numeric), ~ mean(.x, na.rm = TRUE))) %>%
right_join(live_sum) 
head(tcm_sum, n=2)

Joining with `by = join_by(collection_date)`

  collection_date Speed.cm.s. Bearing.degrees. Velocity.N.cm.s.
1 1-Mar-19        5.331549    147.0395         -1.81184
2 1-Mar-19        5.331549    147.0395         -1.81184
  Velocity.E.cm.s. Temperature.C. reef Genotype Fragment_number Month ⋯
1 -0.7369632       26.09619       pr   CN2      3               March ⋯
2 -0.7369632       26.09619       pr   CN2      3               March ⋯
  cluster_longitude cluster_depth Year.y Month.y Lat_decimal Long_decimal
1 -80.41658         15.7          2019   March   24.985      -80.416
2 -80.41659         16.7          2019   March   24.985      -80.416
  avgchla_mgm.3 sdchla_mgm.3 avgSST_degC sdSST_degC
1 0.3999531     0.163012     25.99442    0.2483825
2 0.3999531     0.163012     25.99442    0.2483825

In [27]:
all_meta=tcm_sum %>%
relocate(bag_num, .before = collection_date)
dim(all_meta)

[1] 363  55

In [28]:
colnames(all_meta)

 [1] "bag_num"               "collection_date"       "Speed.cm.s."
 [4] "Bearing.degrees."      "Velocity.N.cm.s."      "Velocity.E.cm.s."
 [7] "Temperature.C."        "reef"                  "Genotype"
[10] "Fragment_number"       "Month"                 "Year"
[13] "Fragment_num"          "day"                   "Survey."
[16] "LiveFrag"              "L"                     "W"
[19] "H"                     "Adjusted.Area"         "S01FragCount"
[22] "Year.x"                "Si.uM."                "NO2.uM."
[25] "N.N.uM."               "NO3.uM."               "PO4.uM."
[28] "sample_ID"             "sample_ID2"            "Health"
[31] "Month.x"               "Samp_trip"             "joining_info"
[34] "order"                 "species"               "time_Reef"
[37] "Cluster"               "sampling_trip"         "X"
[40] "colour_reef"           "colour_genotype"       "colour_reef_genotype"
[43] "colour_timepoint"      "colour_timepoint_reef" "cluster_latitude"
[46] "cluster_longitude"     "cluster_depth"         "Year.y"
[49] "Month.y"               "Lat_decimal"           "Long_decimal"
[52] "avgchla_mgm.3"         "sdchla_mgm.3"          "avgSST_degC"
[55] "sdSST_degC"

In [29]:
write.csv(all_meta, "/Users/stephanie.rosales/Documents/omics_projects/POR_16S/CoralPersistence/metadata/POR_combo_meta.csv", 
       row.names = FALSE)

In [30]:
unique(meta$collection_date)

 [1] "25-Jun-19" "26-Jun-19" "2-Jul-19"  "25-Sep-19" "26-Sep-19" "18-Nov-19"
 [7] "19-Nov-19" "28-Feb-19" "1-Mar-19"  "4-Mar-19"